select {
    width: 100%;
    height: 38px;
    border-radius: var(--input-text-border-radius);
    border: var(--input-text-border);
    outline: none;
    background-color: white;
} 
    .select__label {
        display: inline-block;
        margin-bottom: 10px;
    }